{% extends 'layout.html' %}
{% block content %}
    <form action="" method="POST" class="main-form">
        {{ form.hidden_tag() }}
        <h1 class="form-title">New Post</h1>
        <div class="form-group">
            {{ form.title.label }}
            {% if form.title.errors %}
                {{ form.title(class = "form-input invalid-input") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class = "form-input") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.imageUrl.label }}
            {% if form.imageUrl.errors %}
                {{ form.imageUrl(class = "form-input invalid-input") }}
                <div class="invalid-feedback">
                    {% for error in form.imageUrl.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.imageUrl(class = "form-input") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {% if form.content.errors %}
                {{ form.content(class = "form-text-area invalid-input") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.content(class = "form-text-area") }}
            {% endif %}
        </div>
        {{ form.submit(class = "form-submit") }}
    </form>
{% endblock content %}
