{% extends 'layout.html' %}
{% block content %}
    <form action="" method="POST" class="main-form">
        {{ form.hidden_tag() }}
        <h1 class="form-title">Login</h1>
        <div class="form-group">
            {{ form.email.label }}
            {% if form.email.errors %}
                {{ form.email(class = "form-input invalid-input") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class = "form-input") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {% if form.password.errors %}
                {{ form.password(class = "form-input invalid-input") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class = "form-input") }}
            {% endif %}
        </div>
        {{ form.submit(class = "form-submit") }}
        <div class="form-subtitle">
            <a href="{{ url_for("auth.register") }}">Don't have an account? Sign Up</a>
            <a href="{{ url_for("auth.reset_request") }}" style="margin-top: 15px;">Forgot Password?</a>
        </div>
    </form>
{% endblock content %}
